/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans-v34-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin_cyrillic-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v34-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v34-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v34-latin_cyrillic-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin_cyrillic-600.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v34-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v34-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin_cyrillic-700.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

:root {
  --main-text-cl: #555555;
  --accent-cl: #ff6c00;
  --black: #303030;
  --gray: #9da4bd;
  --white: #ffffff;
  --dark-bg: #191c26;
  --gray-bg: #f7f7f7;
}

html {
  box-sizing: border-box;
}
/* унаследыыать значени для всех других элементов */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-text-cl);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* color: var(--black); */
}

address {
  font-style: normal;
}
/* header--------------------------------------------------- */
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  /* background-color: #555555; */
  z-index: 55;
}

.header .logo {
  display: flex;
  margin-right: 71px;
}

/* .header .contact-link {
  margin-right: 40px;
} */

.menu-link {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;

  color: var(--white);
}

.contact-link {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;

  color: var(--white);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin-right: 55px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  color: var(--white);

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
/* анимация */
  transition-duration: 1s;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-delay: 1s;
/* transition: background-color 5s linear 2s, color 2s ease 1s; */
}

.btn:disabled {
  background-color: grey;
  color: #ccc;
  border: var(--gray);

}

/* .content-box .btn {
margin-top: 40px;
} */

/* .dark-bg .btn {
display: flex;
margin-top: 50px;
margin-right: auto;
margin-left: auto;
} */

.btn:hover,
.btn:focus {
background-color: var(--accent-cl);
color: var(--white);
}

.button {
  color: var(--black);
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white);
}

.menu-link.current {
  color: var(--accent-cl);
}

.menu-link:hover::after,
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  margin-top: 15px;
}

.header-container {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}

/* hero------------------------------------------------------ */
.hero .container {
  position: relative;
  background-image: url(../images/hero/Slider\ img\ 3.jpg);
  background-repeat: no-repeat;
  background-position: left 115px top;
}

.hero-sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
 bottom: 0;
background-color: var(--white);
width: 115px;
padding-left: 15px;
padding-right: 30px;
padding-bottom: 40px;
}

.hero-sidebar .social {
  transform: rotate(-90deg) translateX(50%);
}


.hero-content {
  max-width: 470px;
  padding-bottom: 206px;
  padding-top: 256px;
  margin-left: 200px;
  object-fit: fill;
}

.section-label {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  /* color: rgba(157, 164, 189, 0.6); */
}

.section-label::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.social-label {
 display: flex;
  /* justify-content: center; */
  align-items: center;
}

.social-label::before {
  content: "";
  display: block;
  
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color:  #9DA4BD;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white)
}

.hero-text {
  width: 468px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  
  color: #9DA4BD;
}

.dark-bg {
  background-color: var(--dark-bg);
  color: var(--gray);
}

.dark-bg .hero-title,
.dark-bg .section-title {
  color: var(--white);
}

.price {
  background-image: url(../images/price/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.price-list-wrap {
  display: flex;
  flex-wrap: wrap;
}

.price-list {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.price-item {
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

letter-spacing: 0.02em;

color: #9DA4BD;
}

.price-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item {
  margin-bottom: 20px;
}

.price-item:not(:nth-child(4n)) {
  margin-bottom: 20px;
}

.price-line {
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.team {
  background-color: var(--gray-bg);
}

.social {
  display: inline-flex;
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--black);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  /* transform: rotateZ(0deg);
  transition: transform .6s cubic-bezier(.4,0,.2,1),fill .6s cubic-bezier(.4,0,.2,1); */
}


.social-icons-svg {
  /* width: 20px;
  height: 20px; */
  fill: var(--black);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--accent-cl);
  /* transform: rotateZ(360deg);
  outline: transparent; */
}

.section-title {
  width: 420px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  /* color: var(--white) */
  color: var(--black);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* benefits ------------------------------------------- */
.flexbox {
  display: flex;
  justify-content: space-between;
}

.benefist-span {
 display: flex;
 margin-bottom: 6px;
 justify-content: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  
  color: var(--black)
}

.benefist-plus {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  
  text-align: center;
  
  color: var(--accent-cl);
}

.benefist-content {
 display: inline-block;
  width: 122px;
  height: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  
  color: var(--black);
}

.benefist-item {
  width: calc((100%-30px*1) /2);
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  width: 170px;
  height: 133px;
  background: #F7F7F7;
}

.benefist-item:nth-child(2n) {
margin-right: 0;
/* position: relative;
top: 30px; */
transform: translateY(30px);
/* margin-top: 30px;
margin-bottom: 0; */
}

.benefist-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
margin: auto;
width: calc(((100% - 30px * 5) / 6 * 4) + 30px * 3);
}


.content-box {
  width: calc((100% -30px) / 2);
}

/* team ------------------------------------------------------ */
.item-title {
  line-height: 1.389;

  color: var(--black);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.team-position {
  font-size: 14px;
  line-height: 1.357;

  color: var(--accent-cl);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.contact-us {
  display: block;
  width: 620px;
 padding-right: 0;
 padding-top: 130px;
 padding-right: 40px;
 padding-bottom: 193px;
}

  /* disabled это отключеине кнопки*/

.contact-us:focus-within .section-title {
color: var(--accent-cl);
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.form-field {
  width: 263px;
  /* width: calc((100% -30px) / 2); */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid  rgba(157, 164, 189, 0.4);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 44px;
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  
  color: var(--white);
  outline: none;
}

.form-field::placeholder {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);;
}

.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover, 
  .form-field:-webkit-autofill:focus {
    -webkit-text-fill-color:var(--white);
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg) inset;
  }

  .form-field:focus {
    border-bottom: 1px solid  var(--white);
  }

  .form-field:not(:placeholder-shown):focus:valid {
    color: green;
    border-color: green;
  }

  .form-field:not(:placeholder-shown):invalid {
    color: red;
    border-color: red;
  }

.form-message {
  width: 100%;
  resize: none;
}

.contacs {
  padding-left: 100px;
  padding-right: 100px;
  background-image: url(../images/footer/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.contacts-item {
  position: relative;
  padding-left: 40px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  /* or 167% */
  
  letter-spacing: 0.02em;
  
  color: #9DA4BD;

}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item::before {
content: "";
display: block;
position: absolute;
/* top: 50%; */
/* transform: translateY(-50%); */
left: 0px;
width: 24px;
height: 24px;
background-repeat: no-repeat;
background-position: center;
/* background-color: #ff6c00; */
}

.contacts-item:nth-child(1)::before {
background-image: url(../images/svg/map-pin.svg);
/* position: relative; */
/* transform: translateY(-100%); */
}

.contacts-item:nth-child(2)::before {
  background-image: url(../images/svg/shape.svg);
  }

  .contacts-item:nth-child(3)::before {
    background-image: url(../images/svg/mail.svg);
    }

.worktime-p-time {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--white);
}

.contacts-item {
width: 230px;
}

.content-box .link-item {
  text-decoration: none;
  /* font-style: normal; */
  color: #9da4bd;
}

.worktime {
  margin-top: 70px;
}

.worktime-p {
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact-us {
  display: inline-block;
  width: 620px;
}
/* footer -------------------------------------------------- */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copiright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--gray);
}

/* кнопка------------------------------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background:  rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 100;
  transition: all 1000ms ease-in 1000ms;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
opacity: 0;
pointer-events: none;
transition: all 1000ms ease-in 1000ms;
}

.is-hidden .modal {
transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
width: 30%;
min-height: 450px;
padding: 80px 40px;
background-color: #ffffff;
/* transform: scale(1); */
transition: transform 0.5s;
}

.btn-close {
  position: absolute;
  top: 18px;
  right: 18px;
  border-radius: 50%;
background-color: var(--primary-bg);
border: 1px solid rgba(0, 0, 0, 0.1);
}


